/** --------------------------------------------------------------
 *  Header
 */

// Size of max navbar button
.rm-max .rm-small .rm-button {
    font-size: 2em;
}

@maxButtonFontSize: 2em;

// Style navbar
.rm-desktop li {
    background-color: #ad3232;
}

@navbarItemBgColor: #aa2828;


.site-logo-text,
.navbar2,
.profile {
    float: left;
}

.site-logo-text {
    font-size: 2em;
    a {
        text-decoration: none;
    }
}
