/**
* Anax Flat theme.
*/
@import url(modules.less);
@import url(header.less);
@import url(media-queries.less);

/** --------------------------------------------------------------
 *  Logo images
 */
.logo-1 {
    position: absolute;
    top: 70px;
    left: -140px;
}

.site-logo-text-icon {
    img {
        vertical-align: bottom;
    }
}
.article {
    img {
        width: 97%;
        height: auto;
    }
}
